<div class="maincontent">
  <article class="article">
    <h1 class="article-title">Who are we?</h1>
      <p>TED is a nonpartisan nonprofit devoted to spreading ideas, usually in the form of short, powerful talks. TED began in 1984 as a conference where Technology, Entertainment and Design converged, and today covers almost all topics — from science to business to global issues — in more than 110 languages. Meanwhile, independently run TEDx events help share ideas in communities around the world.</p>
      <p>At TEDx events, a screening of TED Talks videos — or a combination of live presenters and TED Talks videos — sparks deep conversation and connections at the local level. TEDx events are planned and coordinated independently, under a free license granted by TED.</p>
  </article><!-- article -->

  <article class="article">
    <h1 class="article-title">Get Busy!</h1>
    <p>If you want to keep up with what's going on with the group, <a href="http://www.ted.com/join">join our meetup group</a>, <a href="http://www.twitter.com/ted">follow us on twitter</a>. If you're in FaceBook, you can also <a href="http://www.facebook.com/ted">join our FaceBook group</a>.</p>
  </article><!-- article -->

  <article class="article">
    <h1 class="article-title">Who should come?</h1>
    <ul>
      <li>Anybody interested in creative learning and sharing ideas</li>
      <li>Members of any community or occupation interested in learning</li>
      <li>Those interested in meeting and making a connection with others.</li>
    </ul>
  </article><!-- article -->
</div>
